p#compliment {
  height: 2em;
}

#import-compliments {
  border: thin solid;
  display: flex;
  flex-direction: column;
  margin-block-start: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

textarea#compliments {
  height: 12em;
}

button#import {
  margin-block-start: 1em;
  margin-block-end: 1em;
  width: 5em;
}
