body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;

  transition: background-color 0.5s linear;
}

#wrapper {
  max-width: 340px;
}

grid-container {
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  column-gap: 5px;
}

grid-item {
  display: grid;
  align-items: center;
  justify-items: center;
}

button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  border: thin solid;
  border-radius: 5px;
  font-size: 2em;
  width: fit-content;
}

span.counter {
  font-size: 2em;
}
