body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;

  transition: background-color 0.5s linear;
}

grid-container {
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
}

grid-item {
  display: grid;
  align-items: center;
  justify-items: center;
}

button {
  font-size: 3em;
  height: 75px;
  width: 75px;
}

span.counter {
  font-size: 3em;
}
