body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;

  transition: background-color 0.5s linear;
}

grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  column-gap: 5px;
}

grid-item {
  display: grid;
  align-items: center;
  justify-items: center;
}

button {
  font-size: xxx-large;
  width: fit-content;
  max-width: 80px;
}

span.counter {
  font-size: xxx-large;
}
