body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

grid-container {
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
}

grid-item {
  display: grid;
  align-items: center;
  justify-items: center;
}

button {
  font-size: 3em;
  height: 1.5em;
  width: 1.5em;
}

span.counter {
  font-size: 3em;
}
